*{
    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

header{
    height: 55px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex: 1;
}

li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    color: #e5e7eb ;
}

/* hero */
.hero{
    background-color: #1f2937;
    color: #f9faf8;
    min-height: 400px;
    padding: 30px 12%;
    flex: 1;
}


.hero-text, .hero-image{
    width: 400px;
    height: 300px;
}

.hero-text h1{
    font-size: 48px;
}

.hero-text p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image{
    background-color: gray;
    align-self: center;
}

