*{
    padding: 0;
    margin: 0;
}


a{
    text-decoration: none;
    color: #f9faf8;
}



.flex-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header, .hero{
    background-color: #1f2937;
    color: #f9faf8;
    flex: auto;

}

.header{
    padding: 10px, 20px;
    height: 40px;
    display: flex;
   
}
.header-links{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.hero h1{
    font-size: 46px;
    font-weight: bold;
}

.hero p{
    font-size: 18px;
    color: #e5e7eb;

}

button{
    background-color: #3882f6;
    color: #f9faf8;
}
